html {
  text-size-adjust: auto;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: auto;

  /* background-color: #000000;
    background-image: linear-gradient(to bottom, transparent ,rgba(99, 99, 99, 0.153) , rgb(0, 0, 0)), url("ForWebsite.jpg");
    background-size:cover; */
}
/* .background {
  background-image: linear-gradient(to bottom, transparent ,rgba(99, 99, 99, 0.153) , rgb(0, 0, 0)), url("ForWebsite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
  background-color: #000000;
  margin: 0px;
} */
body {
  background-image:  url("ForWebsite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position:bottom; */
  background-color: #000000;
  margin: 0px;
  /* background-image :  linear-gradient(transparent, black),url("ForWebsite.jpg"); */
  /* width: 100%;
  height: 280px; */
  /* background-clip: initial; */
}
/* .gradient {
  background-image: linear-gradient( transparent 100%, white), url("ForWebsite.jpg");
  width: 100%;
  height: 280px; */
  /* color: #fff; */
            /* display: flex; */
            /* justify-content: center; */
            /* align-items: center; */
  /* size: auto; */
/* } */
head {
  /* margin: 100px; */
}
.me {
  color: #2e0044;
  text-align: left;
  margin: 100px;
  font-size:xx-large;
}
/* h1 {
  margin-bottom: 0%;
} */
.topnav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  box-sizing: content-box;
  width: 9%;
  height: 22px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #49006b;
  color: white;
}

#linkin {
  height: 25px;
  width: 25px;
  align-self: baseline;
}

/* 
.linkedin {
  float: right;
  width: 4%;
} */