.bodyOther {
  background-color: #4d4d4d;
  color: #000000;
  /* background-image:  url("ForWebsite.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position:bottom; */
  /* background-color: #000000; */
  margin: 0px;
}